<a href="https://colab.research.google.com/github/Akshaya-2011/Task-1/blob/main/Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import csv

# Step 1: Load the dataset
file_path = "/content/Amazon Sale Report.csv"  # Update path if needed
df = pd.read_csv(file_path, on_bad_lines='skip', quoting=csv.QUOTE_MINIMAL, low_memory=False)

# Check first 5 rows
print(df.head())

   index             Order ID      Date                        Status  \
0      0  405-8078784-5731545  04-30-22                     Cancelled
1      1  171-9198151-1101146  04-30-22  Shipped - Delivered to Buyer
2      2  404-0687676-7273146  04-30-22                       Shipped
3      3  403-9615377-8133951  04-30-22                     Cancelled
4      4  407-1069790-7240320  04-30-22                       Shipped

  Fulfilment Sales Channel  ship-service-level    Style              SKU  \
0   Merchant      Amazon.in           Standard   SET389   SET389-KR-NP-S
1   Merchant      Amazon.in           Standard  JNE3781  JNE3781-KR-XXXL
2     Amazon      Amazon.in          Expedited  JNE3371    JNE3371-KR-XL
3   Merchant      Amazon.in           Standard    J0341       J0341-DR-L
4     Amazon      Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL

        Category  ... currency  Amount    ship-city   ship-state  \
0            Set  ...      INR  647.62       MUMBAI  MAHARASHTRA
1          kurta  ...      INR  406.00    BENGALURU    KARNATAKA
2          kurta  ...      INR  329.00  NAVI MUMBAI  MAHARASHTRA
3  Western Dress  ...      INR  753.33   PUDUCHERRY   PUDUCHERRY
4            Top  ...      INR  574.00      CHENNAI   TAMIL NADU

  ship-postal-code  ship-country  \
0         400081.0            IN
1         560085.0            IN
2         410210.0            IN
3         605008.0            IN
4         600073.0            IN

                                       promotion-ids    B2B  fulfilled-by  \
0                                                NaN  False     Easy Ship
1  Amazon PLCC Free-Financing Universal Merchant ...  False     Easy Ship
2       IN Core Free Shipping 2015/04/08 23-48-5-108   True           NaN
3                                                NaN  False     Easy Ship
4                                                NaN  False           NaN

  Unnamed: 22
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 24 columns]

In [5]:
# Step 2: Drop unnecessary columns
columns_to_drop = ['Unnamed: 22', 'fulfilled-by']
df.drop(columns=[col for col in columns_to_drop if col in df.columns], inplace=True)

# Check remaining columns
print("Remaining columns after drop:")
print(df.columns.tolist())

Remaining columns after drop:
['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ', 'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN', 'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids', 'B2B']

In [6]:
# Step 3: Convert 'Date' to datetime format
df['Date'] = pd.to_datetime(df['Date'], errors='coerce', format='%m-%d-%y')

# Check conversion results
print("Date column after conversion:")
print(df['Date'].head())

Date column after conversion:
0   2022-04-30
1   2022-04-30
2   2022-04-30
3   2022-04-30
4   2022-04-30
Name: Date, dtype: datetime64[ns]

In [7]:
df.dropna(subset=['Amount', 'currency'], inplace=True)

In [8]:
df['Courier Status'] = df['Courier Status'].fillna('Unknown')
df['promotion-ids'] = df['promotion-ids'].fillna('None')
df['ship-city'] = df['ship-city'].fillna('Unknown')
df['ship-state'] = df['ship-state'].fillna('Unknown')
df['ship-country'] = df['ship-country'].fillna('Unknown')
df['ship-postal-code'] = df['ship-postal-code'].fillna(0)

In [9]:
# Step 5.1: Reset index
df.reset_index(drop=True, inplace=True)

# Step 5.2: Save cleaned dataset to a new CSV
df.to_csv("/content/Cleaned_Amazon_Sale_Report.csv", index=False)

# Confirmation
print("âœ… Dataset cleaned and saved successfully!")
print("ðŸ“¦ Cleaned file: Cleaned_Amazon_Sale_Report.csv")
print("ðŸ“Š Final number of rows:", len(df))

âœ… Dataset cleaned and saved successfully!
ðŸ“¦ Cleaned file: Cleaned_Amazon_Sale_Report.csv
ðŸ“Š Final number of rows: 121180